h1 {
    color: #960018;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.img-logo{
    width: 50px;
    height: 50px;
}

.img-logo-pk{
    width: 120px;
}

.img-container{
    text-align: center;
    padding: 0;
}
.btn-success{
    width: 100%;
    background-color: #960018;
    border-color: #960018;
    
}
.btn-success:hover {
    background-color: #670010;
    border-color:#670010;
  }

.btnModal{
    width: 100%;
    background-color: #960018;
    border-color: #960018;
    
}

.btnModal:hover {
    background-color: #670010;
    border-color:#670010;
  }

.divConPoke{
    text-align: center;
}

.types-container{
    color: white;
}